<ion-header>
  <ion-toolbar>
    <title>Perfil Aluno</title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section text-center margin-bottom>
    <img class="log" src="/assets/img/login.png">
    <h1 style="font-size:1.4em" no-margin>Juan Marinho <br>
      Estudante do 7° ano <br> E.E.E.F.M. Marcos Bispo </h1>
  </section>
  <section text margin-bottom>
    <h5 style="font-size:1.4em" no-margin> <b>Dados do Aluno:</b>
    <br>
  nome: Juan Marinho<br>
  idade: 15 anos<br>
  serie: 7° ano<br>
  turma: B<br>
  Membro da equipe: Pão de queijo<br>
  data de inscrição: 13/02/2020</h5>
  </section>
</ion-content>
