.log{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.ico{
    font-size: 50px;
}
.card{
    border-radius: 20px;
    font-size: 30px;
    margin: 3px;
   width: 165px;
   height: 165px;
   display: inline-block;
}
.fab {
    contain: initial;
    box-shadow: 0px 3px 2px 2px black;
    width: 50px;
    height: 50px;
} 
.icon{
    font-size: 40px;
} 

 
.icon1{
    font-size: 50px;    

} 